.header {
  width: 100%;
  max-width: 1440px;
  height: 70px;
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 2px solid #E1FD2C;

		&__links {
      display: flex;
      margin-left: 50px;
      transition: .3s linear;
      @media screen and(max-width: 1000px){
        opacity: 0;
        overflow: hidden;
        &_active {
          opacity: 1;
          overflow: visible;
        }
      }
		}
    

		&__link {
      text-decoration: none;
      font-family: $fFam;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #E1FD2C;
      margin-right: 20px;
      transition: opacity .2s linear;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 0.6;
      }
		}

		&__logo {
      position: absolute;
      width: 184px;
      height: 38px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
      overflow: visible;
      transition: .3s linear;
      @media screen and(max-width: 550px) {
        width: 100px;
        height: 20px;
      }
      &_disabled {
        opacity: 0;
        overflow: hidden;
      }
		}

    &__brg-menu {
      @include btnReset;
      position: absolute;
      right: 34px;
      width: 32px;
      height: 20px;
      border-bottom: 2px solid #E1FD2C;
      top: 20px;
      display: none;
      @media screen and(max-width: 950px) {
        display: flex;
      }
      &_active {
        border-bottom: none;
      }
      &::before {
        content: '';
        display: block;
        width: 32px;
        border-bottom: 2px solid #E1FD2C;
        position: absolute;
        top: 30px; 
        transition: .3s linear;
      }
      &::after{
        content: '';
        display: block;
        width: 32px;
        border-bottom: 2px solid #E1FD2C;
        position: absolute;
        top: 5px;
        transition: .3s linear;
      }
      &_active::before {
        transition: .3s linear;
        content: '';
        display: block;
        width: 32px;
        border-bottom: 2px solid #E1FD2C;
        position: absolute;
        top: 18px;
        transform: rotate(45deg);
      }
      &_active::after{
        transition: .3s linear;
        content: '';
        display: block;
        width: 32px;
        border-bottom: 2px solid #E1FD2C;
        position: absolute;
        top: 18px;
        transform: rotate(-45deg);
      }
    }
}

