.intro {
  margin: 50px;
  min-height: calc(100vh - 180px);
  position: relative;
  @include mediaSection;

		&__block-text {
      margin-top: 60px;
      @media screen and(max-width: 1360px) {
      margin: 0 auto;
      margin-top: 60px;
      max-width: 642px;
      }

      @media screen and(max-width: 685px) {
        max-width: 282px;
        }
		}

		&__title {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 100px;
      line-height: 110%;
      color: #000000;
      max-width: 624px;

      @media screen and(max-width: 1360px) {
      margin: 0 auto;
      margin-bottom: 60px;
      }

      @media screen and(max-width: 685px){
        font-weight: 400;
        font-size: 47px;
        line-height: 56px;
        max-width: 282px;
      }
		}

		&__paragraph {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 139%;
      color: #000000;
      max-width: 469px;
      @media screen and(max-width: 685px) {
        font-size: 14px;
        line-height: 18px;
      }
		}


		&__button {
      @include btnReset;
      @include btnstyles;
      
      @media screen and(max-width: 1360px) {
        margin-top: 60px;
      }
      @media screen and(max-width: 685px) {
        margin-top: 30px;
        width: 169px;
        height: 40px;
        font-size: 14px;
        line-height: 28px;;
      }
      &:hover {
        color: rgba($color: #000000, $alpha: 1);
        font-weight: 500;
      }
		}

		&__background {
    @include backImagesStyle;
    background-image: url('../images/introImage.png');
    width: 642px;
    height: 555px;
    @include backImageMedia;

    @media screen and(max-width: 685px) {
      max-width: 280px;
      height: 242px;
      margin: 0 auto;
    }
	}
}
