@charset "UTF-8";
@import '../vendor/font.css';
@import '../vendor/normaize.css';
.header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DF2626;
  position: relative;
  /* brg menu */
}
@media screen and (max-width: 460px) {
  .header_active {
    height: 198px;
  }
}
.header__logo {
  margin-left: 34px;
  width: 40px;
  height: 40px;
  display: flex;
  transition: transform 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 36px;
    height: 36px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 460px) {
  .header__logo {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
}
.header__logo_disabled {
  display: none;
}
@media screen and (max-width: 460px) {
  .header__logo_disabled {
    display: flex;
    position: absolute;
    top: 27px;
  }
}
.header__links {
  margin: 0;
  margin-right: 50px;
  display: flex;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .header__links {
    overflow: hidden;
    opacity: 0;
  }
}
.header__links_active {
  overflow: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}
@media screen and (max-width: 460px) {
  .header__links_active {
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -30%);
    text-align: center;
  }
}
.header__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FBFBFB;
}
.header__link:hover {
  font-weight: 700;
}
.header li {
  margin-right: 40px;
}
.header li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 460px) {
  .header li {
    margin-right: 0;
    margin-top: 12px;
  }
}
.header .brg-menu {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  flex-direction: column;
  position: absolute;
  display: none;
  right: 30px;
  top: 30px;
  background-image: url("../images/icons/disabledButton.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 23px;
  transition: opacity 0.2s linear;
}
@media screen and (max-width: 768px) {
  .header .brg-menu {
    display: flex;
  }
}
.header .brg-menu_active {
  background-image: url("../images/icons/activeButton.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  right: 20px;
  top: 18px;
}

.page {
  width: 100%;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.intro {
  margin: 50px;
  min-height: calc(100vh - 180px);
  position: relative;
}
@media screen and (max-width: 1360px) {
  .intro {
    padding: 40px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 685px) {
  .intro {
    padding: 20px;
    margin: 0 auto;
  }
}
.intro__block-text {
  margin-top: 60px;
}
@media screen and (max-width: 1360px) {
  .intro__block-text {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 642px;
  }
}
@media screen and (max-width: 685px) {
  .intro__block-text {
    max-width: 282px;
  }
}
.intro__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110%;
  color: #000000;
  max-width: 624px;
}
@media screen and (max-width: 1360px) {
  .intro__title {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 685px) {
  .intro__title {
    font-weight: 400;
    font-size: 47px;
    line-height: 56px;
    max-width: 282px;
  }
}
.intro__paragraph {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 139%;
  color: #000000;
  max-width: 469px;
}
@media screen and (max-width: 685px) {
  .intro__paragraph {
    font-size: 14px;
    line-height: 18px;
  }
}
.intro__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 100px;
  width: 228px;
  height: 49px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 170px;
  transition: 0.2s linear;
}
@media screen and (max-width: 1360px) {
  .intro__button {
    margin-top: 60px;
  }
}
@media screen and (max-width: 685px) {
  .intro__button {
    margin-top: 30px;
    width: 169px;
    height: 40px;
    font-size: 14px;
    line-height: 28px;
  }
}
.intro__button:hover {
  color: black;
  font-weight: 500;
}
.intro__background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/introImage.png");
  width: 642px;
  height: 555px;
}
@media screen and (max-width: 1360px) {
  .intro__background {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
  }
}
@media screen and (max-width: 685px) {
  .intro__background {
    max-width: 280px;
    height: 242px;
    margin: 0 auto;
  }
}

.composition {
  padding: 50px;
  position: relative;
  background-color: #FFCE00;
  /* -----rules */
}
@media screen and (max-width: 1360px) {
  .composition {
    padding: 40px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 685px) {
  .composition {
    padding: 40px 20px 20px 20px;
    margin: 0 auto;
  }
}
.composition__block-title {
  max-width: 403px;
}
@media screen and (max-width: 1360px) {
  .composition__block-title {
    max-width: 688px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 685px) {
  .composition__block-title {
    max-width: 280px;
  }
}
.composition__upper-title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  position: relative;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (max-width: 685px) {
  .composition__upper-title {
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
  }
  .composition__upper-title::after {
    content: "";
    width: 280px;
    position: absolute;
    display: block;
    border-bottom: 2px solid black;
    top: 0;
  }
}
.composition__title {
  margin: 0;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
  max-width: 403px;
}
@media screen and (max-width: 1360px) {
  .composition__title {
    margin-top: 40px;
  }
}
@media screen and (max-width: 685px) {
  .composition__title {
    font-size: 30px;
    line-height: 38px;
    margin-top: 30px;
  }
}
.composition__background {
  background-image: url("../images/compositionImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 642px;
  height: 685px;
  top: 50px;
  right: 50px;
}
@media screen and (max-width: 1360px) {
  .composition__background {
    width: 688px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 765px) {
  .composition__background {
    max-width: 100%;
  }
}
@media screen and (max-width: 685px) {
  .composition__background {
    max-width: 280px;
    height: 278px;
  }
}
.composition__block-text {
  max-width: 400px;
  margin-top: 100px;
}
@media screen and (max-width: 1360px) {
  .composition__block-text {
    max-width: 688px;
    margin: 0 auto;
    margin-top: 60px;
  }
}
@media screen and (max-width: 685px) {
  .composition__block-text {
    max-width: 280px;
  }
}
.composition__paragraph {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #000000;
  margin-top: 20px;
  max-width: 400px;
}
.composition__paragraph:first-child {
  margin-top: 0;
}
@media screen and (max-width: 685px) {
  .composition__paragraph {
    margin-top: 36px;
    font-size: 14px;
    line-height: 18px;
  }
}
.composition__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 100px;
  width: 228px;
  height: 49px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 170px;
  transition: 0.2s linear;
  margin-top: 198px;
}
@media screen and (max-width: 1360px) {
  .composition__button {
    margin-top: 60px;
  }
}
@media screen and (max-width: 685px) {
  .composition__button {
    width: 169px;
    height: 40px;
    margin-top: 30px;
  }
}
.composition__rules {
  display: flex;
  margin-top: 100px;
}
@media screen and (max-width: 1360px) {
  .composition__rules {
    max-width: 688px;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 80px;
  }
}
@media screen and (max-width: 685px) {
  .composition__rules {
    max-width: 291px;
  }
}
.composition__rules-paragraph {
  max-width: 291px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin-right: 56px;
  position: relative;
}
@media screen and (max-width: 1360px) {
  .composition__rules-paragraph {
    max-width: 688px;
    margin-right: 0;
    padding: 30px 0;
  }
  .composition__rules-paragraph:first-child {
    padding-top: 0px;
  }
  .composition__rules-paragraph:last-child {
    padding-bottom: 0px;
  }
  .composition__rules-paragraph::after {
    content: "";
    width: 688px;
    position: absolute;
    display: block;
    border-bottom: 2px solid black;
    top: 0;
  }
  .composition__rules-paragraph:first-child::after {
    width: 0;
  }
}
@media screen and (max-width: 765px) {
  .composition__rules-paragraph {
    max-width: 278px;
    font-size: 14px;
    line-height: 18px;
    padding: 14px 0;
  }
  .composition__rules-paragraph::after {
    width: 280px;
  }
}
.composition__rules-paragraph:last-child {
  margin-right: 0;
}

.reviews {
  padding: 50px;
  position: relative;
  background-color: black;
}
@media screen and (max-width: 1360px) {
  .reviews {
    padding: 40px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 685px) {
  .reviews {
    padding: 40px 20px 20px 20px;
    margin: 0 auto;
  }
}
.reviews__block-title {
  max-width: 617px;
}
@media screen and (max-width: 1360px) {
  .reviews__block-title {
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 688px;
  }
}
@media screen and (max-width: 685px) {
  .reviews__block-title {
    max-width: 280px;
  }
}
.reviews__upper-title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.reviews__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 122px;
  line-height: 122px;
  color: #FFFFFF;
  margin-top: 50px;
}
@media screen and (max-width: 1360px) {
  .reviews__title {
    margin-top: 40px;
  }
}
@media screen and (max-width: 685px) {
  .reviews__title {
    font-size: 48px;
    line-height: 56px;
    margin-top: 30px;
  }
}
.reviews__background {
  background-image: url("../images/introImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 642px;
  height: 832px;
  top: 50px;
  right: 50px;
}
@media screen and (max-width: 1360px) {
  .reviews__background {
    width: 688px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 765px) {
  .reviews__background {
    max-width: 100%;
  }
}
@media screen and (max-width: 685px) {
  .reviews__background {
    max-width: 280px;
    height: 268px;
  }
}
.reviews__paragraph {
  margin: 0;
  margin: 0 auto;
  margin-top: 359px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 1360px) {
  .reviews__paragraph {
    max-width: 688px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 685px) {
  .reviews__paragraph {
    margin: 60px auto 0;
    font-size: 14px;
    line-height: 20px;
    max-width: 280px;
  }
}
.reviews__block-text {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}
@media screen and (max-width: 1360px) {
  .reviews__block-text {
    justify-content: flex-start;
    flex-direction: column;
    max-width: 688px;
    margin: 180px auto 0;
  }
}
@media screen and (max-width: 765px) {
  .reviews__block-text {
    margin-top: 60px;
  }
}
.reviews__first-block {
  max-width: 526px;
  position: relative;
}
@media screen and (max-width: 1360px) {
  .reviews__first-block::after {
    content: "";
    border-bottom: 1px solid #FFFFFF;
    width: 688px;
    display: block;
    position: absolute;
    bottom: -60px;
  }
}
@media screen and (max-width: 765px) {
  .reviews__first-block {
    margin: 0 auto;
    max-width: 280px;
  }
  .reviews__first-block::after {
    width: 280px;
    bottom: -30px;
  }
}
.reviews__text {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 43px;
  color: #FFFFFF;
}
@media screen and (max-width: 765px) {
  .reviews__text {
    line-height: 26px;
    font-size: 24px;
  }
}
.reviews__name {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 60px;
}
@media screen and (max-width: 765px) {
  .reviews__name {
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px;
  }
}
.reviews__nickname {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 10px;
}
@media screen and (max-width: 765px) {
  .reviews__nickname {
    font-size: 12px;
    line-height: 12px;
    margin-top: 6px;
  }
}
.reviews__second-block {
  max-width: 497px;
}
@media screen and (max-width: 1360px) {
  .reviews__second-block {
    margin-top: 120px;
  }
}
@media screen and (max-width: 765px) {
  .reviews__second-block {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 280px;
  }
}

.search {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 1360px) {
  .search {
    padding: 40px;
    grid-template-columns: 1fr;
    max-width: 688px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 685px) {
  .search {
    padding: 40px 20px 20px 20px;
    max-width: 280px;
    margin: 0 auto;
  }
}
.search__first-block {
  max-width: 648px;
}
@media screen and (max-width: 1360px) {
  .search__first-block {
    max-width: 688px;
  }
}
.search__uppertitle {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
@media screen and (max-width: 685px) {
  .search__uppertitle {
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
  }
  .search__uppertitle::after {
    content: "";
    width: 280px;
    position: absolute;
    display: block;
    border-bottom: 2px solid black;
    top: 0;
  }
}
.search__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: #000000;
  margin-top: 50px;
}
@media screen and (max-width: 1360px) {
  .search__title {
    margin-top: 40px;
  }
}
@media screen and (max-width: 685px) {
  .search__title {
    font-size: 32px;
    line-height: 38px;
    margin-top: 30px;
  }
}
.search__background-image {
  background-image: url("../images/searchImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 648px;
  height: 333px;
  background-position: center;
  margin-top: 106px;
}
@media screen and (max-width: 1360px) {
  .search__background-image {
    max-width: 688px;
    margin-top: 60px;
    height: 360px;
  }
}
@media screen and (max-width: 685px) {
  .search__background-image {
    width: 280px;
    height: 147px;
  }
}
.search__second-block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
@media screen and (max-width: 1360px) {
  .search__second-block {
    justify-content: flex-start;
    align-items: start;
    margin-top: 60px;
  }
}
.search__paragraph {
  margin: 0;
  max-width: 380px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
@media screen and (max-width: 685px) {
  .search__paragraph {
    font-size: 14px;
    line-height: 18px;
    max-width: 280px;
  }
}
.search__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 100px;
  width: 228px;
  height: 49px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 170px;
  transition: 0.2s linear;
  margin: 0;
}
@media screen and (max-width: 685px) {
  .search__button {
    width: 169px;
    height: 40px;
    font-size: 14px;
    line-height: 28px;
  }
}
.search__button-container {
  width: 380px;
  height: 49px;
  display: flex;
  margin-top: 148px;
}
@media screen and (max-width: 1360px) {
  .search__button-container {
    margin-top: 60px;
  }
}
@media screen and (max-width: 685px) {
  .search__button-container {
    margin-top: 30px;
    width: 169px;
  }
}

.footer {
  display: flex;
  padding: 50px;
  background-color: #DF2626;
  position: relative;
}
@media screen and (max-width: 1360px) {
  .footer {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 685px) {
  .footer {
    padding: 40px 20px 20px 20px;
  }
}
.footer__first-block {
  margin-right: 50px;
}
@media screen and (max-width: 1360px) {
  .footer__first-block {
    margin: 0;
  }
}
.footer__image-arrow {
  width: 129px;
  height: 95px;
}
@media screen and (max-width: 1360px) {
  .footer__image-arrow {
    display: none;
  }
}
.footer__paragraph {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 391px;
}
@media screen and (max-width: 1360px) {
  .footer__paragraph {
    margin: 0;
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}
.footer__second-block {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media screen and (max-width: 1360px) {
  .footer__second-block {
    margin-bottom: 104px;
  }
}
.footer__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 120px;
  color: #FFFFFF;
  max-width: 685px;
}
.footer__container-form {
  display: flex;
  margin-top: 120px;
}
@media screen and (max-width: 1360px) {
  .footer__container-form {
    margin-top: 203px;
  }
}
.footer__input {
  width: 348px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 8px 0px 0px 8px;
  /* text */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.375px;
  color: #000000;
  padding-left: 20px;
}
.footer__button {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 0px 8px 8px 0px;
  width: 205px;
  height: 50px;
  /* text */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.375px;
  color: #000000;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
